/*Animations are typically used with a hover - like over navigation
to make larger/pop or enhance certain elements*/
}
.container{
  width: 80%;
  margin: 20px auto;
  /*This positioning is important for the animation below to work.
  The container is a parent to the box*/
}
.box{
  width: 200px;
  height: 200px;
  background-color: red;
  /*transition: all .5s ease-in-out;*/
  /*Not needed above if using animation below*/
  /*will transition nicely with .5 seconds rotation*/
  -webkit-animation: demoAnimate 1s infinite;

/*.box:hover{
  transform: rotate(180deg);
  width: 400px;
  height: 400px;
  background-color: black;*/
  /*Above would be used all together without demoAnimate*/
  /*transform: scale(1.5);*/
/*this will make larger like grow when hovered over*/
}
@-webkit-keyframes demoAnimate {
    0% {background-color: white;}
    25% {background-color: blue;}
    50% {background-color: green;}
    75% {background-color: red;}
    100% {background-color: white;}
}
